

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0">
	<!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /-->
</main>

<script>
	const dropdown = document.querySelector('.dropdown');
	const background = document.querySelector('.cover');

	const link = document.querySelector('.settori');
	
	link.addEventListener('click', (e) => {
		
		dropdown.classList.toggle('hide');
		background.classList.toggle('hide');
		
		(e.target.classList.contains('wp-block-navigation-item__content') ? e.target : e.target.parentElement).classList.toggle('active');
	});

</script>
<!-- /wp:group -->